{% extends "layout_unbranded.html" %}

{% block page_title %}
  Help function 
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">Help function</h1>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We provide a help function for the service</dd>
    <dt>Then:</dt>
    <dd>Assisted digital users will have the support they need for completing the application</dd>
    <dt>Because:</dt>
    <dd>No user group should be excluded from applying for a Budgeting Loan online</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/help-function/help-function-type-1">Help function first variation</a></li>
    <li><a href="/sandpit/help-function/help-function-type-2">Help function second variation (appears after a few seconds of inactivity)</a></li>
    <li><a href="/sandpit/help-function/help-function-type-3">Help function third variation</a></li>
  </ul>

</main>

{% endblock %}
