{% extends "layout.html" %}

{% block page_title %}
  Outgoings - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('3-savings') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="heading-large m-b-ml">The next questions are about money you owe. If you're offered a loan, your answers will be used to work out repayments you can afford.</h1>

        <p><a href="4-credit-store-cards" class="button">Continue</a></p>

      </form>

    </div>{# / column-two-thirds #}

   

  </div>{# / grid-row #}
</main>

{% endblock %}