{% extends "layout.html" %}

{% block page_title %}
  Industrial action - Eligibility check - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('borrow-amount') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="heading-large m-t-m">
          <span class="heading-secondary">
            Check your eligibility
          </span>
          Are you involved in any industrial action?
        </h1>

        <div class="form-group">

          <fieldset class="inline">

            <legend class="c-legend c-legend--medium visually-hidden">Are you involved in any industrial action?</legend>

            <p class="m-b-m">For example, a strike, walkout or lockout.</p>

            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="choice" value="yes" >
              Yes
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="choice" value="no" >
              No
            </label>

          </fieldset>

        </div>{# / form-group #}

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}

  {% include "includes/help-function-v3.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}
