{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">New Project Index screen</h1>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We update the project Index page with clear links and explanantions to work we have undertaken</dd>
    <dt>Then:</dt>
    <dd>Users will feel better informed on design and develpoment work of the project</dd>
    <dt>Because:</dt>
    <dd>It is not clear to get this information from the current Index screen</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/new-index/new-index">New Index</a></li>
  </ul>

</main>

{% endblock %}
