{% extends "layout_unbranded.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">Check your answers</h1>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We provide a check you answers screen</dd>
    <dt>Then:</dt>
    <dd>Users will feel more confident that they are submitting the correct the information</dd>
    <dt>Because:</dt>
    <dd>They&rsquo;ll have the opportunity to review and change any incorrect answer before they click submit</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/check-your-answers/check-your-answers-partner">Check you answers partner</a></li>
    <li><a href="/sandpit/check-your-answers/check-your-answers">Check you answers</a></li>
  </ul>

</main>

{% endblock %}
